body {
  background-color: #f9f9f9 !important;
}

.card {
  background-color: #fff;
  border-color: transparent;
  border-width: 0px;
}

.h100 {
  height: 150px !important;
}

.h200 {
  height: 250px !important;
}

.hidden {
  display: none;
}